{% extends "home.html" %}

{% block content %}
<section class="about">
    <h2>Sobre Mí</h2>
    <p>Soy Ingeniero de Sistemas con una gran pasión por el desarrollo de aplicaciones web. He trabajado en una variedad de proyectos donde he aplicado mis conocimientos en diseño y desarrollo de soluciones tecnológicas innovadoras.</p>
    <p>Me especializo en crear experiencias de usuario intuitivas y en asegurarme de que cada proyecto sea tanto funcional como estéticamente agradable.</p>
    <p>Mi enfoque está en la construcción de aplicaciones robustas y en la mejora continua de mis habilidades a través de nuevas tecnologías y tendencias en desarrollo web.</p>
</section>
{% endblock %}
